/* New CSS section */
/* BUTTONS AND LINKS */
.website-link {
  font-weight: 900;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.website-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.personal-button {
  width: 135px;
  height: 85px;

  right: 70px;
  top: 40px;
  position: absolute;
  z-index: 1;
}

button {
  font-family: Noto Sans, Arial;
  font-size: 26px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: 600;

  border-bottom-right-radius: 27px;
  border-top-left-radius: 27px;
  border-width: 2px;
  background-color: rgb(8, 111, 229);
  box-shadow: 3px 2px #888888;

  transition: background-color .2s,
  color 1s;
}
button:hover {
  background-color: rgb(224, 224, 224);
  color: rgb(76, 142, 217);
}
button:active {
  background-color: white;
}



/* New CSS section */
/* HEADER */
.header {
  margin-top: 40px;

  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name-header {
  font-family: Noto Sans, Arial;
  font-weight: 600;
  font-size: 40px;
}

.profile-picture {
  width: 200px;
  border-radius: 100px;
  border-style: solid;
  border-color: rgb(184, 184, 184);
  border-width: 4px;
}

