/* New CSS section */
body {
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(216, 232, 200), rgb(191, 226, 241));
  font-family: Noto Sans, Arial;
}

/* New CSS section */
/* INDEX PAGE OPENING STATEMENTS */
.opening-statements {
  margin-top: 24px;

  display: flex;

  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.first-statement {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  
  max-width: fit-content;  
  width: 990px;
}
.hello {
  font-weight: 800;
  font-size: 24px;
  color: rgb(255, 119, 0);
  
}
.website-statement {
  margin-top: 50px;
  width: 700px;

  font-size: 18px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: fit-content;
  align-items: center;
}

/* New CSS section */
/* PANELS */
.front-page-panels {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 45px;
  margin-bottom: 30px;
  
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.panels {
  width: 100%;
}
.panel-picture {
  width: 100%;
  box-shadow: 2px 2px 3px rgb(126, 99, 99);
  margin-bottom: 6px;
}
.picture {
  display: block;
  width: 100%;
}
.panel-description {
  font-size: 18px;
}


@media (max-width: 1000px) {
  .front-page-panels {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .front-page-panels {
    grid-template-columns: 1fr 1fr 1fr 1fr
  }
}

/* New CSS section */
/* Video Demos */

.videos-title
{
  display: grid;
  justify-content: center;

  font-size: 40px;
  font-family: Roboto Mono;
  font-weight: 500;

  margin-bottom: 10px;
}
.video-panel
{
  display: grid;
  width: 640px;
  
  margin: 0 auto
  
}
.video-holder-div
{

  width: 640px;
  height: 360px;
  position: relative;
}
.video-right, .video-left 
{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  bottom: 30px;

  background-color: transparent;
  border-color: transparent;
}
.video-right:hover, .video-left:hover
{
  cursor: pointer;
  opacity: 80%;
}
.video-right:active, .video-left:active
{
  opacity: 50%;
}

.video-right
{
  right: 80px;
}
.video-left
{
  left: 80px;
}
.video-description
{
  font-size: 24px;
  text-align: justify;

  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: -100px;
  margin-right: -100px;
  
}
.video-description-disclaimer
{
  font-weight: bold;
}
.arrow-image 
{
  width: 100%;
}

/* New CSS section */
/* OTHER PANELS */
.scroll-image {
  opacity: 0.6;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.city-marquee {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.footnotes {
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  
  padding-top: 10px;

  font-family: Noto Sans, Arial;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  border-top-style: solid;
  border-width: 1.5px;
  border-top-color: rgb(163, 163, 163);
}

/* SPECIALIZED LINKS */
.professional-links {
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-left-style: solid;
  border-right-style: solid;
  border-color: rgb(198, 198, 198);
  
}
.website-code-link {
  font-weight: 900;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-width: 0.2px;
}
.website-code-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.github-link {
  font-weight: 900;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.github-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.personal-page-link {
  font-weight: 900;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.personal-page-link:hover {
  text-decoration: underline;
  cursor: pointer;
}