/* New CSS section */
.opening-statements {
  margin-top: 24px;

  display: flex;

  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.first-statement {
  font-family: Noto Sans, Arial;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  
  max-width: fit-content;  
  width: 990px;
}
.hello {
  font-family: Noto Sans, Arial;
  font-weight: 800;
  font-size: 24px;
  color: rgb(255, 119, 0);
  
}
.website-statement {
  margin-top: 50px;
  width: 700px;

  font-family:  Noto Sans, Arial;
  font-size: 18px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: fit-content;
  align-items: center;
}
.professional-links {
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-left-style: solid;
  border-right-style: solid;
  border-color: rgb(198, 198, 198);
  
}
.website-code-link {
  font-weight: 900;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-width: 0.2px;
}
.website-code-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.github-link {
  font-weight: 900;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.github-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.personal-page-link {
  font-weight: 900;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.personal-page-link:hover {
  text-decoration: underline;
  cursor: pointer;
}